.btn {
    text-decoration: none;
    border-radius: 1000px;
    border-width: medium;
    border-color: black;
    border-style: groove;
    font-size: large;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
    background-color:black;
    color: white;
}
.btn:hover{
    transition: 0.7s;
    background-color:white;
    color: black;
}
.btn:active{
    transition: none;
    background-color:black;
    color: white;
}
h1 {
    font-family: Helvetica, sans-serif;
    text-align:center;
    color: white;
    font-size: 100px;
}
p {
    font-family: Helvetica, sans-serif;
    text-align:center;
    color: white;
    font-size: 20px;
}
.shadow {
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}