<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
</head>
<body style="background-color: lightskyblue; height: auto; display: flex; justify-content: center; align-items: center;">
    <div style="margin: 40px">
        <div style="margin-top: 150px">
            <h1 class="shadow" style="font-size: 60px">Welcome</h1>
            <p style="color: black"><b>Successfully logged in</b></p>
        </div>
    </div>
</body>
</html>