<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fake University</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
</head>
<body style="background-color: lightskyblue">
    <div style="padding:20px; width: 90%; margin-left: auto; margin-right: auto; margin-top: 100px">
        <h1 class="shadow">Fake University</h1>
    </div>
    <div style="justify-content: center">
        <div style="justify-content: center; display: flex"><a href="login" class="btn">Login</a></div>
    </div>
</body>
</html>